In [28]:
import plotly.express as px
import plotly.graph_objects as go

In [29]:
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input,Output

In [30]:
df = px.data.stocks()
df

           date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0    2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1    2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2    2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3    2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4    2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
..          ...       ...       ...       ...       ...       ...       ...
100  2019-12-02  1.216280  1.546914  1.425061  1.075997  1.463641  1.720717
101  2019-12-09  1.222821  1.572286  1.432660  1.038855  1.421496  1.752239
102  2019-12-16  1.224418  1.596800  1.453455  1.104094  1.604362  1.784896
103  2019-12-23  1.226504  1.656000  1.521226  1.113728  1.567170  1.802472
104  2019-12-30  1.213014  1.678000  1.503360  1.098475  1.540883  1.788185

[105 rows x 7 columns]

In [48]:
app = dash.Dash(__name__)
app.config.suppress_callback_exceptions = True

In [49]:
## Diseño de la aplicacion
app.layout = html.Div([
    html.Div([
        html.H1('Prueba de RECA'),
        html.Img(src='./imgs_plotly/logo_plotly.svg')
    ],className = 'banner'),
    
    html.Div([
        html.Div([
            html.P('Selecciona la marca',className='fix_label',style={'color':'black','margin_top':'2px'}),
            dcc.RadioItems(id='empresa',
                          labelStyle = {'display':'inline-block'},
                          options=[
                              {'label':'Google', 'value': 'GOOG'},
                              {'label':'Apple', 'value': 'AAPL'},
                              {'label':'Amazon', 'value': 'AMZN'},
                              {'label':'Facebook', 'value': 'FB'},
                              {'label':'Netflix', 'value': 'NFLX' }
                          ],value='GOOG', style={'tex-align':'center','color':'black'}, className = 'dcc_compon')
        ], className='create_container2 five columns',style={'margin-bottom':'20px'})
    ], className='row flex-display'),
    
    html.Div([
        html.Div([
            dcc.Graph(id='bar_graph',figure={})
        ], className='create_container2 eight columns'),
        
        html.Div([
            dcc.Graph(id='pie_graph',figure={})
        ], className='create_container2 five columns')
    ], className='row flex-display')
],id='main_container', style={'display':'flex','flex-direction':'column'})

In [50]:
## Puente entre grafico y contenedor
@app.callback(
    Output('bar_graph',component_property='figure'),
    [Input('empresa',component_property='value')])

def update_graph_bar(value):

    if value == 'GOOG':
        fig = px.bar(
            data_frame = df,
            x = 'date',
            y = 'GOOG'
        )
    elif value == 'AAPL':
        fig = px.bar(
            data_frame = df,
            x = 'date',
            y = 'AAPL'
        )
    elif value == 'AMZN':
        fig = px.bar(
            data_frame = df,
            x = 'date',
            y = 'AMZN'
        )
    elif value == 'FB':
        fig = px.bar(
            data_frame = df,
            x = 'date',
            y = 'FB'
        )
    else:
        fig = px.bar(
            data_frame = df,
            x = 'date',
            y = 'NFLX'
        )
    
    return fig

In [51]:
@app.callback(
    Output('pie_graph', component_property='figure'),
    [Input('empresas', component_property='value')])
def update_graph_bar(value):
    names = ['Google','Apple','Amazon','Facebook','Netflix']
    fig2 = px.pie(df,names=names,values=GOOG)
    
    return fig2

In [ ]:
if __name__ == '__main__':
    app.run_server() # Para que se ejecute en el navegador

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off