El primer paso es instalar las librerias necesarias

    !pip install plotly

In [1]:
import pandas as pds

In [12]:
pd.read_csv('stars.csv')

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

In [11]:
df_population = pd.read_csv('population_total.csv')
df_population = df_population.dropna()

# Permite reestructurar el DataSet
df_population = df_population.pivot(index='year',columns='country',values='population')

df_population = df_population[['United States','China','India','Colombia','Brazil']]
df_population

country  United States         China         India    Colombia       Brazil
year
1955.0     171685336.0  6.122416e+08  4.098806e+08  13775000.0   62533919.0
1960.0     186720571.0  6.604081e+08  4.505477e+08  16057724.0   72179226.0
1965.0     199733676.0  7.242190e+08  4.991233e+08  18725245.0   83373530.0
1970.0     209513341.0  8.276014e+08  5.551898e+08  21480065.0   95113265.0
1975.0     219081251.0  9.262409e+08  6.231029e+08  24065507.0  107216205.0
1980.0     229476354.0  1.000089e+09  6.989528e+08  26900506.0  120694009.0
1985.0     240499825.0  1.075589e+09  7.843600e+08  29951201.0  135274080.0
1990.0     252120309.0  1.176884e+09  8.732778e+08  33102575.0  149003223.0
1995.0     265163745.0  1.240921e+09  9.639226e+08  36421438.0  162019896.0
2000.0     281710909.0  1.290551e+09  1.056576e+09  39629968.0  174790340.0
2005.0     294993511.0  1.330776e+09  1.147610e+09  42647723.0  186127103.0
2010.0     309011475.0  1.368811e+09  1.234281e+09  45222700.0  195713635.0
2015.0     320878310.0  1.406848e+09  1.310152e+09  47520667.0  204471769.0
2016.0     323015995.0  1.414049e+09  1.324517e+09  48175052.0  206163053.0
2017.0     325084756.0  1.421022e+09  1.338677e+09  48909839.0  207833823.0
2018.0     327096265.0  1.427648e+09  1.352642e+09  49661048.0  209469323.0
2019.0     329064917.0  1.433784e+09  1.366418e+09  50339443.0  211049527.0
2020.0     331002651.0  1.439324e+09  1.380004e+09  50882891.0  212559417.0